<!DOCTYPE html>
<html>
  <head>
    <title>Rock Paper Scissors</title>
    <link rel="stylesheet" type="text/css" href="styles.css">
    <link rel="stylesheet"
       href="https://stackpath.bootstrapcdn.com/bootstrap/4.3.1/css/bootstrap.min.css"
       integrity="sha384-ggOyR0iXCbMQv3Xipma34MD+dH/1fQ784/j6cY/iJTQUOhcWr7x9JvoRxT2MZw1T"
       crossorigin="anonymous"
     />
 </head>
<body>
<hr>
<div class="row">
 <div class="column">
      <div class = "name"><div>enter your name here</div>
  <form id='game'action="/names" method="post">
    <input class="nameform" type = "text" name="player">
      <input class ="playbutton" type="submit" value="go">
  </form></div>
  </div>
  <div class="column">
    <div class ="play">
      <form id='game'action="/names" method="post">
    <input style="display:none" type = "text" name="player">
      <input class ="playbutton" style="color: white; background: black; border-radius:20px; width: 565px;" type="submit" value="Let's Play!">
  </form></div>
    </div>
  </div>
</div>

<hr>

<div class="row">
  <div class="column1">
    <button class ="weaponbuttons" type="submit" name="choose" value="Rock" style="
    background: transparent;
    border: none;
">
      <img height="150px" width="150px" src="/images/rock_rps.svg" alt="Rock">
    </button>
  </div>
  <div class="column1">
    <button class ="weaponbuttons" type="submit" name="choose" value="Paper" style="
    background: transparent;
    border: none;
">
      <img height="150px" width="150px" src="/images/paper_rps.svg" alt="Paper">
    </button>
  </div>
   <div class="column1">
    <button class ="weaponbuttons" type="submit" name="choose" value="Scissors" style="
    background: transparent;
    border: none;
">
      <img height="150px" width="150px" src="/images/scissors_rps.svg" alt="Scissors" style="
    background: transparent;
    border: none;
">
  </button>
  </div>
  <div class="column1">
  <button class="weaponbuttons" type="submit" name="choose" value="Lizard" style="
    background: transparent;
    border: none;
"><img height="150px" width="150px" src="/images/lizard_rps.svg" alt="Lizard" style="
    background: transparent;
    border: none;
">
    </button>
  </div>
   <div class="column1">
    <button class ="weaponbuttons" type="submit" name="choose" value="Spock" style="
    background: transparent;
    border: none;
">
      <img height="150px" width="150px" src="/images/spock_rps.svg" alt="Spock">
    </button>
  </div>
</div>
<hr>


  </body>
</html>