<% if @player1 == "" %> Anonymous vs. Computer
<%else %> <%= @player.name %> vs. Computer <%end%> 

<form action="/play" method="post">
<input type="submit" value="Rock" name="choose">
<input type="submit" value="Paper" name="choose">
<input type="submit" value="Scissors" name="choose">
<input type="submit" value="Spock" name="choose">
<input type="submit" value="Lizard" name="choose">
</form>