<!DOCTYPE html>
<html>
  <head>
    <title>Rock Paper Scissors</title>
    <link rel="stylesheet" type="text/css" href="styles.css">
    <link rel="stylesheet"
       href="https://stackpath.bootstrapcdn.com/bootstrap/4.3.1/css/bootstrap.min.css"
       integrity="sha384-ggOyR0iXCbMQv3Xipma34MD+dH/1fQ784/j6cY/iJTQUOhcWr7x9JvoRxT2MZw1T"
       crossorigin="anonymous"
     />
 </head>
 <body>
<hr>
<div class="row">
  <div class="column">
     <div class ="play">
    <% if @player.name == "" %> Anonymous vs. Computer
    <%else %> <%= @player.name %> vs. Computer <%end%> 
  </div>
  <div><a href = "/">new player?</a></div>
  </div>
  <div class="column">
    <div class ="play" style="color: white; background: black; border-radius:20px;">
      Let's Play!
    </div>
  </div>
</div>
<hr>
<div class="row">
  <div class="column1">
  <form action="/play" method="post">
    <button class ="weaponbuttons" type="submit" name="choose" value="Rock" style="
    background: transparent;
    border: none;
">
      <img height="150px" width="150px" src="/images/rock_rps.svg" alt="Rock" style="
    background: transparent;
    border: none;
">
    </button>
  </form>
  </div>
  <div class="column1">
      <form action="/play" method="post">
    <button class ="weaponbuttons" type="submit" name="choose" value="paper" style="
    background: transparent;
    border: none;
">
      <img height="150px" width="150px" src="/images/paper_rps.svg" alt="Paper">
    </button>
  </form>
  </div>
   <div class="column1">
    <form action="/play" method="post">
    <button class ="weaponbuttons" type="submit" name="choose" value="scissors" style="
    background: transparent;
    border: none;
">
      <img height="150px" width="150px" src="/images/scissors_rps.svg" alt="Scissors">
    </button>
  </form>
  </div>
  <div class="column1">
    <form action="/play" method="post">
    <button class ="weaponbuttons" type="submit" name="choose" value="lizard" style="
    background: transparent;
    border: none;
">
      <img height="150px" width="150px" src="/images/lizard_rps.svg" alt="Lizard">
    </button>
  </form>
  </div>
   <div class="column1">
     <form action="/play" method="post">
    <button class ="weaponbuttons" type="submit" name="choose" value="spock" style="
    background: transparent;
    border: none;
">
      <img height="150px" width="150px" src="/images/spock_rps.svg" alt="Spock">
    </button>
  </form>
  </div>
</div>
<hr>
</body>
</html>