* {
  box-sizing: border-box;
}

body {
  background: orange !important;
}
.column {
  float: left;
  width: 40%;
  margin: 0 50px;
  padding: 10px;
  text-align: center;
  background: transparent;
}

.column1 {
  float: left;
  width: 12%;
  margin: 0 50px;
  padding: 10px;
  text-align: center;
  background: transparent;
}

.column2 {
  float: left;
  width: 55%;
  margin-left: 270px;
  padding: 10px;
  text-align: center;
  background: transparent;
}

.row:after {
  content: "";
  display: table;
  clear: both;
}

.name {
  font-size: 30px;
  margin-left: 25px;
}

.nameform {
  font-size: 15px;
}

.play {
  font-size: 50px;
  vertical-align: top;
}

button.weaponbuttons {
  background: transparent !important;
  border: none !important;
}

button.weaponbuttons:focus {
  border: none !important;
  outline: none !important;
}

.hands {
  margin-bottom: 20px;
}

a {
  color: white !important;
  text-decoration: none !important;
}

.nameform {
  background: orange;
  border: 2px solid black;
  border-radius: 10px;
}

input.nameform:focus {
  color: white;
  outline: 1px solid black !important;
}

.playbutton {
  background: none;
  outline: none;
  border: none;
}
