* {
  box-sizing: border-box;
}

body {
  background: orange !important;
}
.column {
  float: left;
  width: 40%;
  margin: 0 50px;
  padding: 10px;
  text-align: center;
  background: transparent;
}

.column1 {
  float: left;
  width: 12%;
  margin: 0 50px;
  padding: 10px;
  text-align: center;
  background: transparent;
}

.column2 {
   float: left;
  width: 55%;
  margin-left: 270px;
  padding: 10px;
  text-align: center;
  background: transparent;
}


.row:after {
  content: "";
  display: table;
  clear: both;
}

.name {
  font-size: 30px;
  margin-left: 25px;
}

.nameform {
  font-size: 15px;
}

.play {
  font-size: 50px;
  vertical-align: top;
} */

button.weaponbuttons {
  background: transparent !important;
  border: none important;
}

/* 
form {
  text-align: center;
  line-height: 30px;
  height: 80%;
  overflow: auto;
} */

/* h1 {
  text-align: center;
  font-family: Arial, Helvetica, sans-serif;
  color: pink;
} */

/* form {
  text-align: center;
  font-family: "Fruktur", cursive;
} */

/* .play {
  width: 500px;
  height: 500px;
  display: inline;
  background: orange;
} */

/* #name_box {
  border-radius: 8px;
  width: 150px;
  height: 3vh;
  font-family: courier new;
  text-align: center;
  /* background-color: #fff9e6; */
  /* border: 2px solid #66d9ff; */
 */
/* 
.b1 {
  width: 50%;
  text-align: center;
  background-color: rgb(245, 202, 179);
  margin: 5px;
}

.b2 {
  width: 30%;
  text-align: center;
  background-color: rgb(245, 202, 179);
  margin: 20px;
  height: 10vh;
}

#game {
  font-size: 10px;
  width: 100%;
}

input {
  border-radius: 8px;
  height: 5vh;
  width: 80px;
  font-family: courier new;
  background-color: #fff9e6;
  border: 2px solid #ffcccc;
}


button {
  border-radius: 8px;
  height: 5vh;
  width: 80px;
  background-color: #fff9e6;
  border: 2px solid #ffcccc;
}

button:hover {
  opacity: 0.6;
  color: rgb(243, 236, 184);
}

.weaponbuttons {
  padding: 0px;
  border: 0px;
  text-decoration: none;
  background: transparent;
}

.grid-container {
  display: grid;
  grid-template-columns: auto auto auto auto auto;
}

.grid-item {
  padding: 10px;
  height: 210px;
  width: 240px;
}

.submit {
  width: 100px;
} */
